<p>
	<strong>Image:</strong>
	<% if @article.image_uid?  %> 
		<%= image_tag @article.image.url ,class: "image-index" %>
	<% end %>
</p>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @article.status %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
